.Carta {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Century', 'Helvetica Neue';
    width: 120px;
    height: 200px;
    padding: .2rem .2rem;
    box-shadow: -5px 0 18px #0d091457;
    transition: .2s;
    margin: .5rem;
    border: 5px solid #444;
    background: no-repeat center center;
    background-size: cover;
    cursor: pointer;
}

.green {
    background-image: url('../../../public/assets/img/cartas/green.png');
    color: #fff;
}

.green:hover {
    box-shadow: 0 0 48px #00ff733d;
}

.red {
    background-image: url('../../../public/assets/img/cartas/red.png');
    color: #fff;
}

.red:hover {
    box-shadow: 0 0 48px #ff000d3d;
}

.yellow {
    background-image: url('../../../public/assets/img/cartas/yellow.png');
    color: #222;
}

.yellow:hover {
    box-shadow: 0 0 48px #fffb003d;
}

.black {
    background-image: url('../../../public/assets/img/cartas/black.png');
    color: #fff;
}

.black:hover {
    box-shadow: 0 0 68px 20px #0000003b;
}

.white {
    background-image: url('../../../public/assets/img/cartas/white.png');
    color: #222;
}

.white:hover {
    box-shadow: 0 0 68px #ffffff3b;
}

.Carta:hover {
    transform: scale(1.5) translateY(-30px);
}

.Carta .tituloCarta,
.Carta .descricaoCarta {
    width: 90%;
    max-width: 140px;
    margin: .5rem;
}

.Carta .tituloCarta {
    border: 1px solid #00000030;
    min-height: 20px;
    display: flex;
    align-items: center;
    padding: 0 .2rem;
    font-size: .26rem;
    text-transform: uppercase;
}

.Carta img {
    width: 90%;
    min-height: 70px;
    max-height: 70px;
    background-color: #fff;
    border: 1px solid #000000c0;
}

.Carta .descricaoCarta {
    min-height: 50%;
    max-height: 90px;
    padding: .2rem;
    padding-top: .1rem;
    font-size: .4rem;
    overflow: hidden;
    line-height: .4rem;
    letter-spacing: .02rem;
    transform: translateY(-.2rem);
}

.italico {
    font-style: italic;
}

.Carta .CustoCarta {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 15px;
    min-height: 15px;
    transition: .2s;
    margin: .5rem;
    border-radius: 50%;
    position: relative;
    background-color: #D5A6D9;
    border: 1px solid #444;
    bottom: 50px;
    font-weight: 900;
    font-size: .6rem;
    color: #222;
}

.dragging {
    border: 3px solid #fff;
}