:root {
    --red: #bd3b32;
    --black: #100f18;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Inter', sans-serif; */
}

html {
    height: 100vh;
}

body {
    height: 100%;
    background: linear-gradient(to top, #111, #222);
    background-color:#111;
    background-image: linear-gradient(to right,#53697650,#292e4950);
}