.CampoDeBatalha {
    width: 55%;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2f145a;
    background-image: url('../../../public/assets/img/cartas/background.jpg');
    background-size: 300px;
    background-repeat: repeat;
    margin: auto;
    border-radius: .3rem;
    transform: rotateX(12deg);
}

.AreaBatalha {
    width: 90%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: .3rem;
}

.CartaCampoBatalha {
    width: 100px;
    height: 100px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: .5rem;
    border-radius: .3rem;
    transition: .2s;
    cursor: pointer;
    box-shadow: -5px 4px 18px #27027ea7;
    padding: 0;
}

.CartaCampoBatalha:hover .ImgTipoPosicaoCarta {
    opacity: 0;
    width: 8%;
    height: 15%;
}

.CartaCampoBatalha .Carta {
    height: 100%;
    width: 100%;
    margin: 0;
}

.CartaCampoBatalha .Carta .tituloCarta {
    width: 95%;
    font-size: .15rem;
    min-height: 10px;
    padding: 0 .1rem;
    margin: 0;
}

.CartaCampoBatalha .Carta img {
    width: 90%;
    min-height: 30px;
    max-height: 30px;
    margin: 0;
}

.CartaCampoBatalha .Carta .descricaoCarta {
    min-height: 50%;
    max-height: 40px;
    padding: .2rem;
    padding-top: .1rem;
    font-size: .25rem;
    overflow: hidden;
    line-height: .2rem;
    letter-spacing: .01rem;
    transform: translateY(-.2rem);
}

.CartaCampoBatalha .Carta .CustoCarta {
    min-width: 8px;
    max-width: 8px;
    min-height: 8px;
    transition: .2s;
    margin: .5rem;
    border-radius: 50%;
    background-color: #D5A6D9;
    border: 1px solid #444;
    bottom: 30px;
    font-weight: 900;
    font-size: .3rem;
    color: #222;
}

.CartaCampoBatalha .Carta:hover {
    transform: none;
}

@keyframes reluzir {
    0% {
        transform: none;
        box-shadow: 0 0 18px #00ffff27;
    }
    100% {
        transform: scale(1.1) translateY(-10px);
        /* box-shadow: 0 0 18px #00ffff2d; */
    }
}

.CartaCampoBatalha:hover {
    transition: all 0.2s;
    animation-name: reluzir;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.ImgTipoPosicaoCarta{
    width: 8%;
    height: 15%;
    position: absolute;
    transition: .5s;
}

