.DetalhesCarta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 180px;
    height: 280px;
    background-color: white;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
    overflow: hidden;
    border-radius: .5rem;
}

.DetalhesCarta .TituloCarta {
    width: 90%;
    border: 1px solid #00000030;
    min-height: 20px;
    display: flex;
    align-items: center;
    padding: 0 .2rem;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.DetalhesCarta .DescricaoCarta {
    width: 90%;
    border: 1px solid #00000030;
    min-height: 20px;
    display: flex;
    align-items: flex-start;
    flex: 1;
    padding: .4rem;
    font-size: .7rem;
    text-transform: uppercase;
    text-align: left;
}