.CartasJogador {
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}