.DeckJogador {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 3px solid #444;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: .5rem;
}

.DeckJogador:hover {
    transform: scale(1.1);
}

.DeckJogador img {
    width: 120px;
    height: 200px;
}

.DeckJogador .quantidadeRestante {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 2rem;
    color: #FFF;
    z-index: 1;
    background: linear-gradient(to top, #5e008320, #83006d20);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
}