.btn {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.1s;
}

.btn-danger {
    background-color: #e62e00;
    box-shadow: -2px 4px 8px #ff480057;
}

.btn-success {
    background-color: #00e600;
    box-shadow: -2px 4px 8px #00e60057;
}

.btn-purple {
    background-color: #6b00e6;
    box-shadow: -2px 4px 8px #7700e657;
}

.btn:hover {
    transform: scale(1.1);
    filter: brightness(110%);
}